---
import { ClientRouter } from "astro:transitions";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../site.config";

const { title, description, image, url } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{`${title} | ${SITE_TITLE}`}</title>
<meta name="title" content={`${SITE_TITLE}`} />
<meta name="description" content={SITE_DESCRIPTION} />

<!-- Open Graph (Facebook, LinkedIn, WhatsApp) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<!-- Split Type CDN -->
<script src="https://unpkg.com/split-type"></script>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Transition View -->
<ClientRouter />