---
import Logo from "../../assets/SARPIN_AGENCY.svg";
import Insta from "../../icons/instagram.svg";
import EnvelopSVG from "../../icons/envelop.svg"
import WhatsappSVG from "../../icons/whatsapp.svg"



const links = [
  {
    url: "/",
    text: "Inicio",
  },
  {
    url: "/nosotros",
    text: "Nosotros",
  },
  {
    url: "/servicios",
    text: "Servicios",
  },
  {
    url: "/blog",
    text: "Blog",
  },
  {
    url: "/contacto",
    text: "Contacto",
  },
];

const yearDate = new Date().getFullYear();

const blogs = [
  {
    img: 'https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80',
    link: '',
    category: 'Categoria',
    title: 'Titulo',
    sub: 'Subtitulo'
  },
  {
    img: 'https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80',
    link: '',
    category: 'Categoria',
    title: 'Titulo 2',
    sub: 'Subtitulo'
  },
  {
    img: 'https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80',
    link: '',
    category: 'Categoria',
    title: 'Titulo 3',
    sub: 'Subtitulo'
  }
]
---

<nav
  x-data="{ mobileMenuIsOpen: false }"
  x-on:click.away="mobileMenuIsOpen = false"
  class="grid grid-cols-2 sm:grid-cols-3 p-2 w-full  z-20 bg-white fixed" 
>
  <!-- Icono lateral izquierdo -->
  <div class="hidden sm:flex items-center gap-2 text-sm">
    <div class="flex items-center gap-1">
      <EnvelopSVG class="size-4" />
    <a href="mailto:info@sarpin.agency" target="_blank" class="hover:cursor-pointer font-body ">
      
      info@sarpin.agency
    </a>
    </div>
    <div class="items-center gap-1 hidden lg:flex">
      <WhatsappSVG class="size-4 " />
    <a target="_blank" href="https://api.whatsapp.com/send/?phone=573053412415&text&type=phone_number&app_absent=0" 
    class="hover:cursor-pointer font-body ">
      +57 305 341 2415
    </a>
    </div>
  </div>

  
  <div class="flex justify-center items-center">
    <a href="/" class="hover:cursor-pointer">
      <Logo width="auto" height={24} />
    </a>
  </div>

  <!-- Botón menú móvil -->
  <div class="flex justify-end items-center">
    <button
      x-on:click="mobileMenuIsOpen = !mobileMenuIsOpen"
      x-bind:aria-expanded="mobileMenuIsOpen"
      x-bind:class="mobileMenuIsOpen ? 'fixed top-6 right-4 z-20' : null"
      type="button"
      class="cursor-pointer"
      aria-label="mobile menu"
      aria-controls="mobileMenu"
    >
      <svg
        x-cloak
        x-show="!mobileMenuIsOpen"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="sm:size-8 size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>

  <!-- Menú móvil -->
  <div
    x-cloak
    x-show="mobileMenuIsOpen"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition ease-out duration-300"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    id="mobileMenu"
    class="fixed inset-0 overflow-y-auto h-screen w-screen z-10 bg-gradient-to-r from-sky-800 to-slate-800 flex flex-col"
  >
    <!-- Contenedor principal con flex para distribuir contenido -->
    <div class="flex flex-col h-full">
      <!-- Botón cerrar -->
      <div class="flex justify-end p-4">
        <button
          x-on:click="mobileMenuIsOpen = false"
          type="button"
          class="cursor-pointer text-white"
          aria-label="close mobile menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="sm:size-8 size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <!-- Enlaces (con flex-grow para que ocupe el espacio disponible) -->
      <div
        class="grid grid-cols-1 lg:grid-cols-2 items-center justify-center"
      >
        <ul class="flex flex-col justify-center gap-4 px-5">
          {
            links.map((item) => (
              <li class="hover:-translate-y-3 hover:translate-x-3 transition">
                <a
                  href={item.url}
                  class="md:text-8xl text-white sm:text-6xl text-5xl font-heading hover:text-second"
                  aria-current="page"
                >
                  {item.text}
                </a>
              </li>
            ))
          }
        </ul>
<!--
 <div class="p-4 xl:p-6 ">

  <div class="swiper w-full mx-auto bg-white rounded-xl">
    
  
    <div class="swiper-wrapper ">
      {blogs.map((item) => (
        <div class="swiper-slide p-5 md:p-10">
          <a
            class="group flex flex-col sm:flex-row rounded-xl overflow-hidden bg-light hover:scale-105 transition-transform duration-300"
            href={item.link || "#"}
          >
            <div class="relative sm:w-64 h-56 sm:h-80 overflow-hidden rounded-xl">
              <img
                src={item.img}
                alt={item.title || "Blog image"}
                class="object-cover w-full h-full transition-transform duration-300 group-hover:scale-110"
              />
            </div>

            <div class="flex flex-col justify-between p-4 sm:p-6 grow">
              <div>
                <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-dark text-white">
                  {item.category}
                </p>
                <h3 class="mt-3 text-lg md:text-2xl font-semibold text-gray-800 group-hover:text-second transition-colors">
                  {item.title}
                </h3>
                <p class="mt-2 text-gray-500">
                  {item.sub}
                </p>
              </div>
            </div>
          </a>
        </div>
      ))}
      
    </div>
     
  </div>


  <div class="mt-8 text-center">
    <a
      href="/blog"
      class="inline-block bg-dark hover:bg-second text-white hover:text-black font-heading text-base px-6 py-3 rounded-xl transition-colors"
    >
      Ver todos los artículos
    </a>
  </div>
</div>
 -->

      </div>

       <!--
      <div class="flex flex-col justify-center items-center py-7 gap-2 px-4 mt-5 text-center bg-mid">
        <p class="font-body text-xl sm:text-3xl md:text-4xl uppercase">
          Síguenos en Instagram
        </p>
        
          <a href="/" class="hover:cursor-pointer">
            <Insta class="size-6 sm:size-12" />
          </a>
      
      </div>
      
 -->

      
  
     <!-- Sección inferior con términos y condiciones (se mantiene al final) -->
      <div class="mt-auto py-4 px-4 ">
        <div class="container mx-auto">

          <div class="font-body flex flex-col sm:flex-row sm:justify-between items-center space-y-3 sm:space-y-0 text-white">

            <p class="text-xs  text-center sm:text-left">
              Sarpin Agency &copy; {yearDate}. Todos los derechos reservados.
            </p>
      
            <ul class="flex flex-wrap justify-center sm:justify-end gap-4 text-xs  px-4">
              <li>
                <a href="/terminos-condiciones" class=" transition hover:text-second hover:underline"> 
                  Términos y condiciones 
                </a>
              </li>
      
              <li>
                <a href="/politica-privacidad" class=" transition hover:text-second hover:underline"> 
                  Política de privacidad
                </a>
              </li>
      
              
            </ul>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</nav>


<script>
  import Swiper from 'swiper';
  import 'swiper/css';

  document.addEventListener("astro:page-load", () => {
      const swiper = new Swiper(".swiper", {
        
      direction: "horizontal",
      loop: true,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
     
      });
    });
</script>